 header{
            background-color: #832828;
            color: #FFFFFF;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
        }
         article{
            display: flex;
         }
        main{
            background-color: #FFFFFF;
            color: #832828;
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
 
        }
         img{
            width: 80px;
            height: 80px;
         }
         .artigo-autor {
            font-weight: bold;
         }